# Global .gitignore
#
# Maintain compatibility with .cvsignore (used by rsync and cvs)
#

# Compiled ---------------------------------------------------------------------
*.com
*.dll
*.exe
*.o
*.so

# Archives ---------------------------------------------------------------------
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OSX --------------------------------------------------------------------------
._*
.DS_Store
.Spotlight-V100
.Trashes

# Windows ----------------------------------------------------------------------
Thumbs.db
Desktop.ini

# version control --------------------------------------------------------------
.git/
.hg/
.svn/
*.diff
*.patch

# editors ----------------------------------------------------------------------
*.orig
*.sublime-project
*.sublime-workspace
*.swp
*.tmproj
*.tmproject
tmtags

# real junk, temp files --------------------------------------------------------
.sass-cache/
*~
*.rbc

