/* ===========================================================================
 * For styling the entire Joplin app (except the rendered Markdown, which is
 * defined in `userstyle.css`)
 * ======================================================================== */

:root {
  --white: hsla(0, 0%, 100%, 1);
  --lighter-grey: hsla(0, 0%, 95%, 1);
  --light-grey: hsla(0, 0%, 85%, 1);
  --mid-grey: hsla(0, 0%, 70%, 1);
  --dark-grey: hsla(0, 0%, 45%, 1);
  --darker-grey: hsla(0, 0%, 25%, 1);
  --font-sans: "SF Pro Text", "Roboto", sans-serif;
  --font-mono: "Fira Code", monospace;

  --mid-accent: hsla(200, 20%, 60%, 1);

  --notebook-section-size: 10px;
}

/* ======================================================================== */

.header {
  background: var(--light-grey) !important;
  border-bottom: 0 !important;
}

/* ======================================================================== */

.side-bar {
  background: var(--light-grey) !important;
}

/* All notes, Notebooks, Tags */
.side-bar > div > div:not(.folders):not(.tags) {
  color: var(--dark-grey) !important;
  font-size: var(--notebook-section-size) !important;
  font-weight: 700;
  height: 32px !important;
}
/* All Notes: Selected */
.side-bar > div > div[style*="background-color"]:not(.folders):not(.tags) {
  background-color: var(--mid-grey) !important;
}
/* Icon */
.side-bar > div > div:not(.folders):not(.tags) > i { }
/* Text */
.side-bar > div > div:not(.folders):not(.tags) > span {
  text-transform: uppercase;
}

.side-bar .list-item-container > a:not(.list-item),
.side-bar .list-item {
  color: var(--darker-grey) !important;
}

/* ======================================================================== */
/* Notebook */

.side-bar .list-item-container {}
/* Notebook chevron icon when has child notebooks */
.side-bar .list-item-container > a:not(.list-item) {}
/* Notebook name and item count */
.side-bar .folders .list-item {
  opacity: 1 !important;
  padding-right: 12px;
}
/* Align the count to the right */
.side-bar .folders .list-item > div {
  margin-left: auto;
  opacity: 1 !important;
}
/* Selected notebook */
.side-bar .list-item-container[style*="background-color"] {
  background-color: var(--mid-accent) !important;
}
/* Selected notebook name and item count aligned right */
.side-bar .list-item-container[style*="background-color"] > a:not(.list-item),
.side-bar .list-item-container[style*="background-color"] .list-item {
  color: var(--white) !important;
  font-weight: bold;
}

/* ======================================================================== */
/* Tags, align the item right */

.side-bar .tags .list-item {
  opacity: 1 !important;
  padding-left: 26px !important;
  padding-right: 12px;
}
.side-bar .tags .list-item:before {
  content: '#';
  padding-right: 0.2em;
}
.side-bar .tags .list-item > div {
  margin-left: auto;
  opacity: 1 !important;
}
/* Selected tag */
.side-bar .tags .list-item[style*="background-color"] {
  background-color: var(--mid-accent) !important;
  color: var(--white) !important;
  font-weight: bold;
}

/* ======================================================================== */

.synchronize-button {
  background: var(--mid-grey) !important;
  border: 0 !important;
  color: var(--darker-grey) !important;
}

/* ======================================================================== */

.side-bar + [draggable],
.note-list + [draggable] {
  width: 8px !important;
  margin-left: -8px !important;
}

/* ======================================================================== */

.note-list {}

/* note container */
.note-list .list-item-container {
  height: auto !important;
}


/* checkbox on todo notes */
.note-list .list-item-container > div {
  height: auto !important;
}

/* note title */
.note-list .list-item-container > a {
  cursor: pointer !important;
  font-size: 12px !important;
  min-height: 2em;
}

/* ======================================================================== */
.editor-toolbar {
  display: none !important;
}
