root = true

[*]
charset = utf-8
end_of_line = LF
indent_size = 2
indent_style = space

[.gitconfig]
indent_style = tab

[*.gitconfig]
indent_style = tab

[*.ini]
indent_size = 4

# html is not minified so reduce character output by using real tabs
# use indent size 4 for parity with PHP
[*.{erb,hbs,html,marko,mustache,xml}]
indent_style = tab

[*.{css,less,sass,scss}]
insert_final_newline = true

[*.coffee]
insert_final_newline = true

[*.{js,json,jsx,ts,tsx}]
insert_final_newline = true

# PHP http://make.wordpress.org/core/handbook/coding-standards/php/
[*.{blade,php}]
indent_size = 4
insert_final_newline = true

[*.{bash,sh,zsh}]
max_line_length = 78

[*.py]
indent_size = 4
