[flake8]

ignore =
  # This repo contains mostly shellscripts so the first comment is a shebang
  # Don't need the whitespace
  D205,
  # First line is probably a shebang, so should not end with period
  D400


