# locks
Brewfile.lock.json

# managed
linux/konsole/bookmarks.xml*
mac/bitbar/enabled/
node_modules/
tmux/plugins/
!tmux/plugins/tpm

# secrets
local/
logs/

# deprecated
z/.z
z/.z.*
zsh/.zinit
zsh/antibody

# cache + logs
.bash_history
.lesshst
.nvimlog
.tox
.zcache
.zcompdump*
.zhistory
.zsh_history
.zshrc.zwc
*.log
*.tbcache
