---
extends: default
rules:
  comments:
    ignore-shebangs: true
    require-starting-space: true
  document-start: disable
  empty-lines:
    max-end: 1
  truthy:
    check-keys: false
ignore: |
  node_modules/
  tmux/plugins/
  vim/vendor/
  vim/.tmp/
  zsh/.zinit/
