---
extends: default
rules:
  comments:
    ignore-shebangs: true
    require-starting-space: true
  document-start: disable
ignore: |
  node_modules/
  tmux/plugins/
  vale/styles/
  vim/vendor/
  vim/.tmp/
  zsh/.zplugin/
