# .xprofile
#
# (startx -> .xinitrc) or DM
#   -> .xprofile
#     -> /usr/share/xsessions .desktop file
#

# moved here so it is available for all X, not needed in tty
# https://wiki.archlinux.org/index.php/Java_Runtime_Environment_Fonts
export GCONFTOOL="/bin/gconftool-2"
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on'
export JAVA_FONTS=/usr/share/fonts/TTF

# vim: set ft=sh :
