# .xprofile
#
# (startx -> .xinitrc) or DM
#   -> .xprofile
#     -> /usr/share/xsessions .desktop file (runs before WM/DE, e.g. openbox)

export DKO_SOURCE="$DKO_SOURCE -> .xprofile"

export BROWSER=chromium

# moved here so it is available for all X, not needed in tty
# https://wiki.archlinux.org/index.php/Java_Runtime_Environment_Fonts
# Added this specifically for the minecraft launcher

# my nvidia card doesn't support wayland, ensure x11 used
export GDK_BACKEND=x11
export CLUTTER_BACKEND=x11

# GTK theme
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

export GCONFTOOL="/bin/gconftool-2"

# java settings - mostly for minecraft launcher
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on'
export JAVA_FONTS=/usr/share/fonts/TTF

export STEAMAPPS="$HOME/.steam/steam/SteamApps"

# Wine
export WINEPREFIX="$HOME/.config/wine"
export WINEARCH=win32

# Gnome Keyring
# shellcheck disable=SC2046
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)
export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT_INFO SSH_AUTH_SOCK

# gnome polkit authentication (so nm-applet can create connections)
#[[ -x "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1" ]] && /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# If using nvidia, execute some stuff that supposedly improves performance
# https://wiki.archlinux.org/index.php/Nvidia#GUI:_nvidia-settings
# shellcheck disable=SC2046,SC2143
if [ $(lsmod | grep nvidia &> /dev/null) ]; then
    nvidia-settings -a InitialPixmapPlacement=2
fi

# bind media keys if system has an xbindkeysrc
# mine is kept in a separate repo per machine
[[ -f "$HOME/.xbindkeysrc" ]] && xbindkeys -f "$HOME/.xbindkeysrc"

# vim: syn=sh :
