<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="graphics" label="Graphics">
		<item label="Adobe Photoshop CS6">
			<action name="Execute">
				<execute>env WINEPREFIX=/home/davidosomething/.config/wine wine &quot;C:\Program Files\Adobe\Adobe Photoshop CS6\Photoshop.exe&quot;</execute>
			</action>
		</item>
		<item label="GIMP Image Editor">
			<action name="Execute">
				<execute>/bin/gimp</execute>
			</action>
		</item>
		<item label="Xournal">
			<action name="Execute">
				<execute>/bin/xournal</execute>
			</action>
		</item>
	</menu>
	<menu id="messaging" label="Messaging">
		<item label="Hipchat">
			<action name="Execute">
				<execute>/bin/hipchat</execute>
			</action>
		</item>
		<item label="LINE Messenger">
			<action name="Execute">
				<execute>env WINEPREFIX=/home/davidosomething/.config/wine wine &quot;C:\Program Files\Naver\LINE\Line.exe&quot;</execute>
			</action>
		</item>
		<item label="Skype">
			<action name="Execute">
				<execute>/bin/skype</execute>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Gnome Control Center">
			<action name="Execute">
				<execute>gnome-control-center</execute>
			</action>
		</item>
		<item label="lxapearance">
			<action name="Execute">
				<execute>/bin/lxappearance</execute>
			</action>
		</item>
		<item label="gdm3setup">
			<action name="Execute">
				<execute>gksu gdm3setup</execute>
			</action>
		</item>
		<separator/>
		<item label="tintwizard">
			<action name="Execute">
				<execute>tintwizard</execute>
			</action>
		</item>
		<separator/>
		<item label="Openbox Menu Editor">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>Firefox</wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="Filezilla">
			<action name="Execute">
				<execute>/usr/bin/filezilla</execute>
			</action>
		</item>
		<item label="Transmission">
			<action name="Execute">
				<execute>/bin/transmission-gtk</execute>
			</action>
		</item>
		<menu id="messaging"/>
		<menu id="graphics"/>
		<item label="NixNote2">
			<action name="Execute">
				<execute>/bin/nixnote2</execute>
			</action>
		</item>
		<separator/>
		<item label="Gnome Terminal">
			<action name="Execute">
				<execute>/bin/gnome-terminal --hide-menubar</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<execute>/bin/thunar</execute>
			</action>
		</item>
		<separator/>
		<menu id="system-menu"/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
		<item label="Power">
			<action name="Execute">
				<execute>oblogout</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
