Pygments==2.2.0
bashate==0.6.0
flake8==3.5.0
flake8-commas==2.0.0
flake8-docstrings==1.3.0
flake8-import-order==0.18
flake8-quotes==1.0.0
neovim==0.2.6
neovim-remote==2.0.10
pydocstyle==2.1.1
pyflakes==2.0.0
pylint==2.1.0
yamllint==1.11.1
vim-vint==0.3.18
vulture==0.29
