[Desktop Entry]
Version=1.9.0
Name=Conky
GenericName=System Stats
Comment=Display information on desktop
Exec=conky -d
Icon=conky
Terminal=false
Type=Application
Categories=Utility;Application;
X-GNOME-Autostart-enabled=true
Hidden=false

