[Desktop Entry]
Type=Application
Name=KeePass Password Safe
GenericName=Cross-platform password manager
Comment=The free, open source, light-weight and easy-to-use password manager
Exec=keepass 
Icon=keepass
MimeType=application/x-keepass2;
Terminal=false
StartupNotify=false
Categories=Utility;
StartupWMClass=KeePass2
X-Desktop-File-Install-Version=0.22
