[Desktop Entry]
Icon=redshift
GenericName=Color temperature adjustment
StartupNotify=true
Categories=Utility;
Type=Application
Version=1.0
Hidden=false
Comment=Color temperature adjustment tool
Terminal=false
X-GNOME-Autostart-enabled=true
Name=Redshift
Exec=redshift-gtk

