[Desktop Entry]
Version=1.0
Name=Remmina Applet
Comment=Connect to remote desktops through the applet menu
Icon=remmina
Exec=remmina -i
Terminal=false
Type=Application
Hidden=true
