[Desktop Entry]
Version=1.0
Type=Application
Name=SpiderOakONE
GenericName=File Backup and Synchronizer
Comment=Privately sync, backup, and share your data across your computers.
Comment[en_US]=Privately sync, backup, and share your data across your computers.
Icon=SpiderOakONE
Exec=SpiderOakONE
Terminal=false
Categories=Network;Archiving;Utility;
