[Desktop Entry]
Name=Terminator
Name[af]=Terminator
Name[ar]=المتطرف
Name[ast]=Terminator
Name[az]=Terminator
Name[be]=Тэрмінатар
Name[bg]=Терминатор
Name[bn]=টার্মিনেটর
Name[bs]=Terminator
Name[ca]=Terminator
Name[ca@valencia]=Terminator
Name[cs]=Terminator
Name[da]=Terminator
Name[de]=Terminator
Name[el]=Terminator
Name[en_AU]=Terminator
Name[en_CA]=Terminator
Name[en_GB]=Terminator
Name[eo]=Terminatoro
Name[es]=Terminator
Name[et]=Terminator
Name[eu]=Terminator
Name[fa]=ترمیناتور
Name[fi]=Terminator
Name[fo]=Terminator
Name[fr]=Terminator
Name[gl]=Terminador
Name[he]=Terminator
Name[hi]=टर्मिनेटर
Name[hr]=Terminator
Name[hu]=Terminator
Name[hy]=Terminator
Name[id]=Terminator
Name[is]=Terminator
Name[it]=Terminator
Name[ja]=Terminator
Name[jv]=Terminator
Name[ka]=Terminator
Name[kk]=Терминатор
Name[ko]=터미네이터
Name[lt]=Terminator
Name[lv]=Terminator
Name[mk]=Терминатор
Name[ml]=ടെര്‍മിനേറ്റര്‍
Name[ms]=Terminator
Name[nb]=Terminator
Name[nl]=Terminator
Name[oc]=Terminator
Name[pl]=Terminator
Name[pt]=Terminator
Name[pt_BR]=Terminator
Name[ro]=Terminator
Name[ru]=Terminator
Name[ru_RU]=Терминатор
Name[si]=ටර්මිනේටර්
Name[sk]=Terminátor
Name[sl]=Terminator
Name[sq]=Terminator
Name[sr]=Терминатор
Name[su]=Terminator
Name[sv]=Terminator
Name[ta]=முனையம்
Name[te]=టెర్మినేటర్
Name[th]=Terminator
Name[tr]=Uçbirim
Name[uk]=Terminator
Name[ur]=Terminator
Name[vi]=Terminator
Name[zh_CN]=Terminator
Name[zh_TW]=Terminator
Comment=Multiple terminals in one window
Comment[af]=Veelvuldige terminale in een venster
Comment[ar]=العديد من الطرفيات في نافذة واحدة
Comment[ast]=Delles terminales nuna ventana
Comment[az]=Çoxsaylı terminallar bir pəncərədə
Comment[be]=Некалькі тэрміналаў у акне
Comment[bg]=Множество терминали в един прозорец
Comment[bn]=এক উইন্ডোতে একাধিক টার্মিনাল
Comment[bs]=Više terminala u jednom prozoru
Comment[ca]=Diversos terminals en una finestra
Comment[ca@valencia]=Diversos terminals en una finestra
Comment[cs]=Několik terminálů v jednom okně
Comment[da]=Flere terminaler i et vindue
Comment[de]=Mehrere Terminals in einem Fenster
Comment[el]=Πολλαπλά τερματικά σε ένα παράθυρο
Comment[en_AU]=Multiple terminals in one window
Comment[en_CA]=Multiple terminals in one window
Comment[en_GB]=Multiple terminals in one window
Comment[eo]=Pluraj terminaloj en unu fenestro
Comment[es]=Múltiples terminales en una ventana
Comment[et]=Mitu terminaali ühes aknas
Comment[eu]=Hainbat terminal leiho bakarrean
Comment[fa]=پایانه‌های گوناگون در یک پنجره
Comment[fi]=Useita päätteitä yhdessä ikkunassa
Comment[fr]=Permet d'avoir plusieurs terminaux en une seule fenêtre
Comment[gl]=Múltiples terminales nunha ventá
Comment[he]=מסופים מרובים בחלון אחד
Comment[hi]=एक विंडो में अनेक  टर्मिनल
Comment[hr]=Više terminala u jednom prozoru
Comment[hu]=Több terminál egy ablakban
Comment[hy]=Մի քանի տերմինալ մեկ պատուհանում
Comment[id]=Banyak terminal dalam satu window
Comment[is]=Margar útstöðvar í einum glugga
Comment[it]=Molteplici terminali un una sola finestra
Comment[ja]=複数の端末を一つのウインドウに
Comment[jv]=Akeh terminal ning sak jendelo
Comment[ka]=მრავალი ტერმინალები ერთ ფანჯარაში
Comment[kk]=Бір терезе ішінде көптік терминалдар
Comment[ko]=창 하나에 터미널 여러 개 쓰기
Comment[lt]=Keli terminalai viename lange
Comment[lv]=Daudzi termināļi vienā logā
Comment[mk]=Повеќе терминали во еден прозорец
Comment[ml]=ഒരു ജാലകത്തില്‍ ഒന്നിലധികം ടെര്‍മിനലുകള്‍
Comment[ms]=Kesemua terminal dalam satu tetingkap
Comment[nb]=Flere terminaler i ett vindu
Comment[nl]=Meerdere terminals in één venster
Comment[oc]=Permet d'aver mantun terminal dins una sola fenèstra
Comment[pl]=Wiele terminali w jednym oknie
Comment[pt]=Terminais múltiplos numa janela
Comment[pt_BR]=Múltiplos terminais em uma janela
Comment[ro]=Terminale multiple într-o singură fereastră
Comment[ru]=Несколько терминалов в одном окне
Comment[si]=එක් වින්ඩෝවක ටර්මිනල් රාශියක්
Comment[sk]=Viaceré terminály v jednom okne
Comment[sl]=Več terminalov v enem oknu
Comment[sq]=Shumë terminale në një dritare
Comment[sr]=Више терминала у једном прозору
Comment[su]=Loba terminal dina hiji jandela
Comment[sv]=Flera terminaler i ett fönster
Comment[ta]=ஒரு  சாளரத்தில் பல முனையங்கள்
Comment[te]=ఒకే విండోలో బహుళ టెర్మినల్స్
Comment[th]=หลายเทอร์มินัลในหน้าต่างเดียว
Comment[tr]=Tek pencerede birden çok uçbirim
Comment[uk]=Кілька терміналів в одному вікні
Comment[ur]=ایک دریچے میں ایک سے زیادہ ٹرمنل
Comment[vi]=Mở nhiều terminal trong cùng cửa sổ
Comment[zh_CN]=一个窗口里多个终端
Comment[zh_TW]=一視窗內含多個終端機
TryExec=terminator
Exec=terminator --geometry=640x480-50-50
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
[NewWindow Shortcut Group]
Name=New Terminator Window
Exec=terminator --geometry=640x480-50-50
TargetEnvironment=Unity

