'exception-reporting':
  'userId': 'b1835f38-10cf-fa02-feaf-47a2078fe7b5'
'release-notes':
  'viewedVersion': '0.96.0-4fa0b6e'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '4c54ec5ca4e140e1505820df9884f3e1e3d1c633'
'editor':
  'fontSize': 12
  'showIndentGuide': true
'core':
  'themes': [
    'solarized-dark-ui'
    'solarized-light-syntax'
  ]
  'disabledPackages': [
    'welcome'
  ]
  'useReactEditor': true
'whitespace':
  'ensureSingleTrailingNewline': false
'tree-view': {}
