"*":
  core:
    audioBeep: false
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Mono for Powerline"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "d573f5eb-f998-45e0-8796-2757e6cedf50"
  "vim-mode-plus":
    hideStatusBarOnMaximizePane: false
    hideTabBarOnMaximizePane: false
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
