# linux/.xprofile
#
# Environment variables for X Desktop
#
# Source order:
# (startx -> .xinitrc) or DM (including GDM)
#   -> .xprofile -> [env]
#     -> /usr/share/xsessions .desktop file (runs before WM/DE, e.g. openbox)
#

export DKO_SOURCE="${DKO_SOURCE} -> linux/.xprofile {"
# Sourced only once, this would be the first and only place on linux
. "${HOME}/.dotfiles/shell/xdg.bash"

# ============================================================================
# Programs
# ============================================================================

# browser
export BROWSER=chromium

# [[ -n "$XDG_RUNTIME_DIR" ]] && \
#   export ICEAUTHORITY="$XDG_RUNTIME_DIR/X11/iceauthority"

# X11 xbindkeys -- no longer used, gnome's key settings are fine
# bind media keys if system has an xbindkeysrc
# mine is kept in a separate repo per machine
# [[ -f "$DOTFILES/linux/.xbindkeysrc" ]] && \
#   xbindkeys -f "$DOTFILES/linux/.xbindkeysrc"

# GTK
export GTK2_RC_FILES="${XDG_CONFIG_HOME}/gtk-2.0/.gtkrc-2.0"
export GCONFTOOL="/bin/gconftool-2"

# GIMP
export GIMP2_DIRECTORY="${XDG_CONFIG_HOME}/gimp"

# GNOME Keyring
# shellcheck disable=SC2046
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)
export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT_INFO SSH_AUTH_SOCK

# QT
export QT_STYLE_OVERRIDE=gtk

# Steam
export STEAMAPPS="${HOME}/.steam/steam/SteamApps"

# Wine
export WINEPREFIX="${XDG_CONFIG_HOME}/wine"
export WINEARCH=win32

export DKO_SOURCE="${DKO_SOURCE} }"

# vim: ft=sh :
