! Xresources main file
!
! Loaded by shell/x11 with -I$DOTFILES so all paths are relative to there.
!

! ==============================================================================
! Source base16-twilight
! https://github.com/chriskempson/base16-xresources
! ==============================================================================

#include "linux/xresources/base16-twilight.dark.256.xresources"
