name: Linting
on: [push] # yamllint disable-line

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Vale
        uses: errata-ai/vale-action@v1.0.4
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
